{%extends 'shortener/base.html'%}
{% block content%}
<section id="one">
  {%include 'shortener/logo.html'%}
  <div class="main style1">
    <div class="container">
      <div class="row gtr-150">
        <div class="col-10 off-1 col-12-medium align-left">
          <div class="major">
            <h1 >URL Click Tracker</h1>
          </div>Get to know the number of times your short URL has been clicked so far. Simply type in the correct URL and track the clicks.</p>
          {%if not_exists%}
          <div class="alert align-center">
            <span>The short link you entered does not exist. Enter another short url, or <a href="{%url 'home'%}">Click here to shorten a url</a> </span>
          </div>
          {%endif%}
          {%if wrong_url%}
          <div class="alert align-center">
            <span>The short link you entered is invalid. Enter another short url, or <a href="{%url 'home'%}">Click here to shorten a url</a> </span>
          </div>
          {%endif%}
          <br>
          <form id="url-count-form" action="{%url 'url_count'%}" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <th>{{form.short_url.label}} *:</th>
                <th>{{form.short_url}}</th>
                <th><input id="track-clicks" type="submit" name="" value="Track Clicks"></th>
              </tr>
            </table>
          </form>

          <small>*Enter a valid short URL e.g.{{sc_eg}} </small>
        </div>
      </div>


    </div>
  </div>
</section>

{% endblock%}
